
body{
    background-attachment: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
body{
    background-color: black;
}

#nav1{
    text-align: right;
    font-family: cursive;
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: fixed;
}


.h2{
    border-radius: 20%;
    text-decoration: none;
    text-align: right;
    margin-left: 10px;
    padding-right: 10px;
    border:none;
    position:relative;
}
.h1{
    z-index: 1;
    border-radius: 20%;
    text-decoration: none;
    text-align: right;
    margin-left: 10px;
    padding-right: 5px;
    border:none;
    position:relative;
}

.h3{
    z-index: 1;
    border-radius: 20%;
    text-decoration: none;
    text-align: right;
    margin-left: 10px;
    padding-right: 10px;
    border:none;
    position:relative;
}
video{
    max-width: 100%;
    height: auto;
    z-index: 0;
    position: fixed;
}
header{
    z-index: 1;
    color: orange;
    position: relative;
}
article{
    z-index: 1;
    position: relative;
    color: orange;
    margin-left: 10px;
}
#l1{
    color: orange;
}
img{
    z-index: 1;
    float: left;
    padding-right: 20px;
}
div{
    z-index: 1;
font-family: pacifico;
font-size: 25px ;
}
#j1{
    z-index: 1;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    margin-top: 30px;
}

.h1:hover{
    background-color: white;
    border-style: solid;
    border-radius: 0px;
}

.h2:hover{
    background-color: white;
    border-style: solid;
    border-radius: 0px;
}

.h3:hover{
    background-color: white;
    border-style: solid;
    border-radius: 0px;
}